.about {
  margin-top: 40vh;
}
.ratio {
  width: 60%;
}
.about-display {
  display: flex;
}
.about-container {
  padding: 25px;
  background-color: white;
  text-align: justify;
}
.about-heding {
  text-align: center;
  margin-top: 65vh;
  color: black;
}
.about-content {
  color: black;
  padding: 5vh 10vh;
  font-weight: 100;
  margin-top: 10vh;
}
.about-flex {
  display: flex;
  padding: 5vh;
}
.about-img {
  margin-right: 10vh;
  margin-top: -5vh;
}
@media (max-width: 480px) {
  .about-display {
    display: block;
  }
}
