.contact-wrap {
  background-color: #23153c;
  color: white;
  padding: 5%;
  height: 110.75%;
  width: 100%;
}

.contact-title {
  text-align: center;
}
.contact-details {
  text-align: left;
}

.contact-flex {
  display: flex;
}
h3 {
  margin-top: 10%;
}
