.skill-img {
  height: 15vh;
  width: 15vh;
}
.images1 {
  display: flex;
  justify-content: center;
  margin: auto 30vh;
  padding: 5vh;
  background-color: #23153c;
  gap: 15vh;
  border-radius: 10px 10px 0px 0px;
}
.images2 {
  display: flex;
  justify-content: center;
  margin: auto 30vh;
  padding: 5vh;
  background-color: #23153c;
  gap: 15vh;
  border-radius: 0px 0px 10px 10px;
}
.skill-title {
  margin-bottom: 5vh;
}

h5 {
  color: white;
}
